#social .social {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 50px;
    text-align: center;
    background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
}
#social .social ul li {
    display: inline-block;
    margin: 0 20px;
}
#social .social i.fa {
    font-size: 22px;
    width: 48px;
    height: 48px;
    padding: 12px 0;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50%;
    transition: all 0.3s;
}
#social .social i.fa:hover {
    color: #608dfd;
    background: #fff;
}
